.pizza-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pizza-ingredient__item {
  margin: 0 3px 5px;
  color: $tertiary-color;
  font-size: 0.9rem;
}

@media all and (min-width: 500px) {
  .pizza-ingredient__item {
    font-size: 1.4rem;
  }
}
