* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none; }

h1 {
  font-size: 3.5rem;
  color: maroon; }

h2 {
  font-size: 2.8rem;
  color: maroon; }

a {
  font-size: 2.5rem;
  color: #ffc82f; }

.container {
  min-height: 100vh;
  background: white; }

.homeContainer {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 30% 90px 60px auto;
  height: 88vh; }

.firstHomeH {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: row1-start;
  grid-row-end: 2;
  justify-self: center; }

.secondHomeH {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: row2-start;
  grid-row-end: 3;
  justify-self: center; }

.menu {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 6rem auto;
  grid-template-areas: ". heading ." ". menuarea .";
  min-height: 88vh; }

.menu__heading {
  grid-area: heading;
  justify-self: center;
  align-self: center; }

.menu__list {
  grid-area: menuarea;
  justify-self: stretch;
  list-style-type: none;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc82f; }

.pizza-item {
  margin: 5px;
  font-size: 1.5rem;
  color: maroon; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: maroon;
  top: 0;
  left: 0; }
