* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow-x: hidden; }

.first-heading {
  font-size: 2.8rem;
  color: maroon; }

.second-heading {
  font-size: 2.5rem;
  color: #ffc82f; }

.container {
  min-height: 100vh;
  background: white; }

@media all and (min-width: 500px) {
  .first-heading {
    font-size: 3.5rem; }
  .second-heading {
    font-size: 3rem; } }

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30vh; }

@media all and (min-width: 500px) {
  .home-container {
    height: 88vh;
    padding-top: 25vh; } }

.menu {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 6rem auto;
  grid-template-areas: '. heading .' '. menupizza .' '. menusauce .';
  min-height: 88vh; }

.menu__heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  color: maroon; }

.menu__list {
  justify-self: stretch;
  list-style-type: none;
  width: 70%;
  min-width: 260px;
  margin: 0 auto 3rem;
  padding: 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc82f; }

.menu__list--pizza {
  grid-area: menupizza; }

.menu__list--sauce {
  grid-area: menusauce; }

.pizza-item {
  margin: 7px;
  font-size: 1.3rem;
  color: maroon; }

@media all and (min-width: 500px) {
  .menu {
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 6rem auto; }
  .menu__list {
    width: 60%;
    min-width: 370px;
    margin: 0 auto 3rem;
    padding: 1rem 1rem 2rem; }
  .menu__heading {
    font-size: 3rem; }
  .pizza-item {
    font-size: 1.6rem; } }

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #3e5c25;
  transform: translateX(100vw);
  transition: 0.5s ease-out; }
  .nav.show {
    transform: translateX(0);
    transition: 0.5s ease-out; }

.nav__link {
  font-size: 3rem;
  color: #ffc82f;
  text-align: center;
  margin: 5px 0; }

.hamburger {
  z-index: 1;
  right: 30px;
  top: 22px;
  position: absolute;
  cursor: pointer;
  transition: 0.5s ease-out; }
  .hamburger .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ffc82f;
    transition: 0.5s ease-out; }
  .hamburger.close {
    transform: rotate(180deg); }
    .hamburger.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .hamburger.close .btn-line:nth-child(2) {
      opacity: 0; }
    .hamburger.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6.5px, -6.5px); }

@media all and (min-width: 500px) {
  .nav {
    justify-content: space-around;
    position: unset;
    flex-direction: unset;
    height: 12vh;
    background-color: maroon;
    top: 0;
    left: 0;
    transform: translateX(0); }
  .nav__link {
    font-size: 3rem; }
  .hamburger {
    display: none; } }

.pizza-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pizza-ingredient__item {
  margin: 0 3px 5px;
  color: #3e5c25;
  font-size: 0.9rem; }

@media all and (min-width: 500px) {
  .pizza-ingredient__item {
    font-size: 1.4rem; } }
