nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  //background-color: rgb(255, 200, 47);
  //background-color: rgb(62, 92, 37);
  background-color: maroon;
  top: 0;
  left: 0;
}
